<HTML><HEAD><TITLE></TITLE>
<META content="text/html; charset=windows-1252" http-equiv=Content-Type>
<STYLE>
BODY { background: %BGCOLOR% url(up.bmp) no-repeat fixed left top}
</STYLE>

</HEAD>
<BODY
BackGround="up.bmp"
bgProperties="FIXED"
bgColor="%BGCOLOR%"
LeftMargin="%LEFTMARGIN%"
RightMargin="%RIGHTMARGIN%"
TopMargin="%TOPMARGIN%">

<Table ALIGN="CENTER" border="0" width="100%">
<TR><TD align="left">
<FONT FACE="%SONGFACE%" SIZE="%SONGSIZE%" COLOR="%SONGCOLOR%">%SONG%</FONT><BR>
<FONT FACE="%ARTISTFACE%" SIZE="%ARTISTSIZE%" COLOR="%ARTISTCOLOR%">%ARTIST%</FONT><BR>
</td>
<TD align="right">

<TABLE BORDER="1" BORDERCOLORDARK="gray" BORDERCOLORLIGHT="white" bgcolor="SILVER"><TR><TD>
<object CLASSID="CLSID:22D6F312-B0F6-11D0-94AB-0080C74C7E95"
   border="-1"
   width="%MEDIAWIDTH%"
   height="%MEDIAHEIGHT%">
<param name="AutoStart" value="false">
<PARAM NAME="ShowPositionControls" VALUE="0">
<PARAM NAME="EnableContextMenu" VALUE="0">
<param name="ShowDisplay" value="false">
<param name="ShowAudioControls" value="true">
<param name="AutoStart" value= "false">
<param name="AutoSize" value="true">
<param name="FileName" value="%SONGFILE%">
</object>
</TD></TR></TABLE>

</TD>
</TR>
</TABLE>

</BODY>
</HTML>
